<div class="question" *ngIf="question">

    <div class="tiny-form">
       
        <select [(ngModel)]="question.type" class="custom-select">
            <option [selected]="question.type == 'mc'" value="mc">Multiple choice</option>
            <option [selected]="question.type == 'groupmc'" value="group">Group items</option>
            <option [selected]="question.type == 'sentence'" value="sentence">Form a Sentence</option>
            <option [selected]="question.type == 'blanks'" value="blanks">Fill in the blanks</option>
        </select>
        <input type="text" id="question" placeholder="Question instructions" 
            required [(ngModel)]="question.text" name="text" #questiontext="ngModel">
    </div>
    <div [hidden]="questiontext.valid || questiontext.pristine" class="validation padded">
        The question text is required
    </div>

    <div class="body">
        <div [ngSwitch]="question.type">


            <!-- Multiple choice -->
            <div *ngSwitchCase="'mc'">

                <wd-answer-manager [answers]="question.body.answers" [canBeCorrect]="true"></wd-answer-manager>

                <button class="btn btn-success btn-xs" (click)="AddAnswer()">
                    <span class="glyphicon glyphicon-plus"></span> Add choice
                </button>

            </div>
            <!-- Group -->
            <div *ngSwitchCase="'group'">

                <wd-answer-manager [answers]="question.body.answers" [canBeCorrect]="true"></wd-answer-manager>

                <button class="btn btn-success btn-xs" (click)="AddAnswer()">
                    <span class="glyphicon glyphicon-plus"></span> Add item
                </button>

            </div>
            <!-- Blanks -->
            <div *ngSwitchCase="'blanks'">

                <textarea autosize id="sentence" *ngIf="question.body"
                    placeholder="Enter a [[sentence]] to complete" 
                    [(ngModel)]="question.body.sentence" 
                    name="sentence"
                    #sentence="ngModel">{{question.body.sentence}}</textarea>

                <wd-answer-manager [answers]="question.body.answers" [canBeCorrect]="false"></wd-answer-manager>

                <button class="btn btn-success btn-xs" (click)="AddAnswer()">
                    <span class="glyphicon glyphicon-plus"></span> Add alternative
                </button>

            </div>
            <!-- Sentence -->
            <div *ngSwitchCase="'sentence'">

                <textarea type="text" id="sentence" placeholder="[[The]] [[sentence]] [[to form]]" [(ngModel)]="question.body.sentence" name="sentence"
                    #sentence="ngModel"></textarea>

                <wd-answer-manager [answers]="question.body.answers" [canBeCorrect]="false"></wd-answer-manager>

                <button class="btn btn-success btn-xs" (click)="AddAnswer()">
                    <span class="glyphicon glyphicon-plus"></span> Add alternative
                </button>


            </div>
            <p *ngSwitchDefault class="validation padded">
                Select a question type from the dropdown menu
            </p>


        </div>
    </div>

    <footer>
        <input type="text" id="explanation" placeholder="Why is the answer correct or wrong?" [(ngModel)]="question.explanation"
            name="explanation" #text="ngModel">
    </footer>

</div>