<div id='wd-quiz-tool' class='wd-component'>
    <i class="fa fa-question-circle-o" aria-hidden="true"></i> Quiz
</div>


<div id="myModal" class="modal fade in" role="dialog" *ngIf="showModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quiz tool</h4>
                <div class="close-modal-button" (click)="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body">

                <h2>Add a new quiz</h2>

                <h2>or select an excisintg quiz</h2>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>