
<!--[ngClass]="{'dropdown-menu' : isSub}"-->

<ul class="nav navbar-nav"  *ngIf="navMenu">
    <li *ngFor="let item of navMenu.MenuItems">
        <a routerLink="{{item.Url}}" routerLinkActive="active">{{item.Name}}</a>
    </li>
  
    <li  *ngFor="let menu of navMenu.SubMenus" >

        <a  class="dropdown-toggle" (click)="menu.show = !menu.show">{{menu.Name}}</a>
        <wd-nav-menu [navMenu]="menu" [isSub]="true">

        </wd-nav-menu>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>

  
</ul>