<div class="modal-body">

    <wd-assignment-manager [assignment]="assignment"></wd-assignment-manager>


    <div class="form-group">
        <label for="assignment.title">The level of the assignment</label>
        <div>
            <button class="btn btn-raised btn-default" (click)="assignment.level = 'Bronze'" [ngClass]="{'btn-info' : assignment.level == 'Bronze' }">
                            Bronze<div class="ripple-container"></div>
                        </button>
            <button class="btn btn-raised btn-default" (click)="assignment.level = 'Silver'" [ngClass]="{'btn-info' : assignment.level == 'Silver' }">
                            Silver<div class="ripple-container"></div>
                        </button>
            <button class="btn btn-raised btn-default" (click)="assignment.level = 'Gold'" [ngClass]="{'btn-info' : assignment.level == 'Gold' }">
                            Gold<div class="ripple-container"></div>
                        </button>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="Cancel()">Cancel</button>
    <div class="seperator"></div>
    <button class="btn btn-success" (click)="Add()" [disabled]="!assignment.isValid()">Save</button>
</div>