.modal-content .modal-body{
    padding: 0px;
}

.alert.alert-success{
    color: #285b2a;
    background-color: #dbefdc;
    border-color: #cde9ce;
}

table span.grayed{
    color:gray;
    font-size:90%; 
}