<div >
    <div class="row">

        <!-- First we rendere all the possible modals-->
        <wd-add-question></wd-add-question>

        <div class="col-md-3">
                
            <h3>Elements</h3>

            <ul class="tools">
                <li><wd-header></wd-header></li>
                <li><wd-text></wd-text></li>
                <li><wd-column></wd-column></li>
                <li><wd-multiple-choice-tool></wd-multiple-choice-tool></li>
                <li><wd-img-tool></wd-img-tool></li>
            </ul>

            <wd-trash></wd-trash>

        </div>

        <div class='wrapper col-md-9' *ngIf="page">

            <wd-html [innerHTML]="page.source" (pageEdited)="updateSource($event)"></wd-html>

            <hr />

            <div>
                {{page ? page.source : ''}}
            </div>
         

            <div class="btn-group">
            
            </div>

        </div>

    </div>
    
    
</div>