<!-- First we rendere all the possible modals-->
<wd-add-question></wd-add-question>
<wd-add-rating></wd-add-rating>
<wd-add-image></wd-add-image>



<div class="row" *ngIf="page">
    <div class="col-md-9">
            <wd-html [innerHTML]="page.source" (pageEdited)="updateSource($event)" [hidden]="htmlMode" ></wd-html>
    </div>
    <div class="col-md-3 text-center" >
        <div class="panel panel-default fixed">
            <div class="panel-body bordered">
                <h3>Elements</h3>
            </div>

            <table class="table table-hover elements">
                <tr><td> <wd-header></wd-header> </td></tr>
                <tr><td> <wd-text></wd-text> </td></tr>
                <tr><td> <wd-column></wd-column> </td></tr>
                <tr><td> <wd-multiple-choice-tool></wd-multiple-choice-tool> </td></tr>
                <tr><td> <wd-rating-tool></wd-rating-tool> </td></tr>
                <tr><td> <wd-img-tool></wd-img-tool> </td></tr>
            </table>

            <wd-trash></wd-trash>

        </div>
    </div>
</div>


