<div class="text-center">
    <wd-add-page (pageAdded)="getPages($event)"></wd-add-page>
</div>

<table class="table table-hover" >
    <tr *ngFor="let  page of dictaat.pages" (click)="selectPage(page)" [ngClass]="{active: page == selectedPage}" >
        <td>
            <span class="glyphicon glyphicon-file"></span>
        </td>
        <td>
            {{page.name}}
        </td>
        <td width="30">
            <button class="btn btn-xs btn-danger" (click)="deletePage(page)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</table>
