<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-default sidebar" *ngIf="dictaat">
                <div class="panel-body bordered text-center">
                    <h1>{{dictaat.name}}</h1>
                    <a target="_blank" href="http://webdictaat.azurewebsites.net/dictaten/{{dictaat.name}}">
                        webdictaat.nl/dictaten/{{dictaat.name}}
                    </a>
                </div>
                <wd-pages [dictaat]="dictaat" (pageSelected)="selectPage($event)"></wd-pages>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">

            <wd-edit-page *ngIf="selectedPage" [pageName]="selectedPage.name"  ></wd-edit-page>
            
        </div>
    </div>
</div>