<div class="leaderboard">
  <div *ngIf="!participants">
    <wd-spinner></wd-spinner> 
  </div>

  <div *ngIf="participants">

    <div class="text-center">
        <button *ngIf="state == 0" class="btn btn-xs btn-info" (click)="state = 1">
            show individual leaderboard
        </button>
        <button *ngIf="state == 1" class="btn btn-xs btn-info" (click)="state = 0">
            show group leaderboard
        </button>
    </div>

    <div *ngIf="state == 0">
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Group</th>
          <th>Size</th>
          <th>Points</th>
        </tr>
        <tr *ngFor="let item of groups;let i = index" >
          <td>#{{i + 1}}</td>
          <td>{{item.groupName}}</td>
          <td class="points">{{item.members.length}} members</td>     
          <td>{{item.totalPoints}} points</td>
        </tr>
      </table>
    </div>

    <div *ngIf="state == 1">
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Group</th>
          <th>Points</th>
        </tr>
        <tr *ngFor="let item of leaderboard;let i = index" [ngClass]="{ 'me' : user && item.email == (user | async)?.email }">
          <td>#{{i + 1}}</td>
          <td>{{item.name ? item.name : item.email}}</td> 
          <td>{{item.group}}</td>
          <td class="points">{{item.points}}</td>     
        </tr>
      </table>
      <div class="text-center">
        <button *ngIf="leaderboard == top5" class="btn btn-xs btn-info" (click)="leaderboard = participants">show all</button>
        <button *ngIf="leaderboard == participants" class="btn btn-xs btn-info" (click)="leaderboard = top5">show less</button>
      </div>
    </div>
</div>
</div>

