.leaderboard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color:white;
    min-height:100px;
}


.leaderboard table{
    border-collapse: collapse;
}

.leaderboard table tr{
    border-bottom:1px solid #eee;
    position: relative;
}

.leaderboard table tr.me {
    font-weight: bold;
}

.leaderboard .loader{
    height:3px;
    width:100%;
    background-color:orange;
    position: absolute;
    bottom:0px;
    left:0px;
}

.table{
    margin-bottom: 0px;
}