<button class="btn btn-lg btn-success btn-raised" (click)="showModal = true">
    <span class="glyphicon glyphicon-plus pull-left"></span>&nbsp;Create a new Dictaat
</button>

<div class="modal" *ngIf="showModal">
    <div class="modal-dialog text-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new dictaat</h4>
                <div class="close-modal-button" (click)="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body">

                
                    <p class="text-info" *ngFor="let error of errors">
                            {{error}}
                        </p>

                <div class="form-group">
                    <label for="name">Name of the new dictaat</label>
                    <input type="text" id="name" required [(ngModel)]="dictaatName" name="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="validation">
                        Name of the dictaat is required
                    </div>
                    <div [hidden]="dictaatName.indexOf(' ') == -1" class="text-info">
                        The name of the dictaat cannot contain any spaces. It will be changed into <strong>{{trim(dictaatName)}}</strong>.
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" (click)="showModal = false">Cancel</button>
                    <div class="seperator"></div>
                    <button type="button" class="btn btn-success pull-right" (click)="add()" [disabled]="!dictaatName || dictaatName.length < 3">
                        Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>