<ul class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Webdictaat</a></li>
  <li  *ngIf="dictaat" class="active">{{dictaat.name}}</li>
</ul>

<div class="container">

    <div *ngIf="dictaat">

        <div class="panel panel-default sidebar" >
            <div class="panel-body text-center">
                <h1>{{dictaat.name}}</h1>
                <a target="_blank" href="/dictaten/{{dictaat.name}}">
                    webdictaat.aii.avans.nl/dictaten/{{dictaat.name}}
                </a>
            </div>
       

            <ul class="nav nav-pills">
                <li><!-- filler --></li>
                <li [routerLink]="['pages']"  routerLinkActive='active'>
                    <button class="btn btn-default" >Pages</button>
                </li>
                <li  [routerLink]="['quizes']"  routerLinkActive='active' >
                    <button class="btn btn-default">Quizes</button>
                </li>
                <li  [routerLink]="['assignments']"  routerLinkActive='active' >
                    <button class="btn btn-default">Assignments</button>
                </li>
                <li  [routerLink]="['marking']"  routerLinkActive='active' >
                    <button class="btn btn-default">Marking</button>
                </li>
                <li  [routerLink]="['styling']"  routerLinkActive='active' >
                        <button class="btn btn-default">Styling</button>
                </li>
                <li  [routerLink]="['settings']"  routerLinkActive='active' >
                    <button class="btn btn-default">Settings</button>
                </li>
                <li><!-- filler --></li>
            </ul></div></div>
  
    <router-outlet></router-outlet>

</div>