.directory{
    background-color:gray;
}

.nav-pills {
    display:flex;

}

.nav-pills li {
    margin:0px;
    border-bottom:2px solid rgba(0,0,0, 0.87);
}

.nav-pills li.active {
   border-color: #00AEED;
}

.nav-pills li:last-child{
    width:100%;
}


