

<div class="panel panel-default navbar-sub">
    <div class="panel-body text-center">
        <div class="animated fadeIn">
            <h1>Welkom op de site van Webdictaat!</h1>

            <p>Maak nu een nieuw webdictaat, of bekijk de lijst van bestaande dictaten!</p>

            <p *ngIf="isAuth">
                <wd-add-dictaat (dictaatAdded)="setDictaten($event)"></wd-add-dictaat>
            </p>

            <p *ngIf="!isAuth">
                <button class="btn btn-primary btn-raised" (click)="login()">Login to get started!</button>
            </p>
        </div>

        <img src="img/wd-logo.png" class="wd-logo" />
    </div>
</div>

<wd-spinner *ngIf="!dictaten" [subtitle]="'loading dictaten'"></wd-spinner>

<div class="container">
    <div class="dictaten row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center animated fadeIn"  *ngFor="let  dictaat of dictaten">
            <div class="dictaat panel panel-default">
                <div class="panel-body">

                    <h2>{{dictaat.name}}</h2>

                    <span *ngIf="!dictaat.isEnabled" class="preview">Preview</span>

                    <div *ngIf="isAuth && dictaat.canEdit" class="hover-actions">
                        <button type="button" class="btn btn-info btn-raised btn-sm" (click)="gotoDetail(dictaat)">
                            <span class="glyphicon glyphicon-pencil icon" aria-hidden="true" ></span> Edit
                        </button>
                    </div>

                    <p>
                        <a target="_blank" href="/dictaten/{{dictaat.name}}">
                            webdictaat.nl/dictaten/{{dictaat.name}}
                        </a>
                    </p>
                </div>

                <div class="panel-footer">
                    <p>
                        Updated on: {{dictaat.lastChange | date: 'short'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>