<div >
    <div class="panel panel-danger" >
        <div class="panel-heading">
            <h3 class="panel-title">Danger zone</h3>
        </div>
        <div class="panel-body wd-flex">
            <div> 
                <b>Delete this dictaat</b>
                <p>Once you delete a webdictaat, there is no going back. Please be certain.</p>
            </div>
            <div class="wd-flex-1">
                <wd-remove-dictaat [dictaat]="dictaat"></wd-remove-dictaat>
            </div>
    </div>
</div>