<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="showSidebar = !showSidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{Title}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse"> 
      <wd-avatar [isRoute]="true" ></wd-avatar>
	</div>
  </div>
</div>
<div class="side-nav-wrapper" >
  <nav class="side-nav" [ngClass]="{'active' : showSidebar }">
    <wd-nav-menu ></wd-nav-menu>
  </nav>
</div>

<div class="main-content">
  <div class="left-menu side-menu">
    <wd-nav-menu ></wd-nav-menu>
  </div>
  <div class="flex-1">
    <div>
      <wd-message></wd-message>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="right-menu side-menu">
  </div>
</div>


