.side-menu{
    width:30%;
    padding:10px;
    position: fixed;
    z-index: 1031;
    top:0px;
    margin-top: 10vh;
}

.left-menu{
    left:0px;
}

.right-menu{
    right:0px;
}

/** Sidebar **/

.side-nav-wrapper{
  width:500px;
  position: fixed;
  top:0px;
  margin-top:50px;
  left:100%;
  transition: all 0.4s ease 0s;
  height: 100%;
  max-width:200%;
  z-index:1;
}

.side-nav{
  position: absolute;
  width:250px;
  left:0px;
  background-color:white;
  transition: all 0.4s ease 0s;
   height: 100%;
   width:50%;
  
}

.side-nav .navbar-nav{
   margin-left:0px;
}

.side-nav.active{
   transform: translate(-250px, 0);
}

.side-nav li{
  line-height: 40px;
  text-indent: 20px;
}

.wd-content{
    /*max-width:900px;*/
}

/** bigger than 767, so left side menu should be visible **/
@media (min-width:767px) {
    
    .wd-content{
        margin-left:30%;
    }

    .side-nav-wrapper{
        display: none;
    }
}

/** bigger than 1200, so left side menu should be max 400px wide**/
@media (min-width:1200px) {

    .side-menu{
        width:400px;
    }

     .wd-content{
        margin-left:400px;
    }
}

/** Smaller than 767, so left side menu should be in hamburger menu **/
@media (max-width:767px) {
    .side-menu{
        display: none;
    }
}
