.page-item{
    position: relative;
    border-bottom: 1px solid #eee;
}

.page-item:hover{ 
    background-color: #eee; 
    cursor: pointer;
    cursor: pointer 
} 

.page-item .body{ 
    padding:10px; 
} 

.page-item button{
    margin:0px;
}

.page-item .title{ margin-left:10px;  }

.page-item .url{
    font-style: italic;
    color:darkgray;
}

.page-item input{
    width: auto;
    display: inline;
}

.handle{
    position: absolute;
    width: 50px; height: 20px;
    text-align: center;
    left:50%;  top:50%;
    margin-top:-10px;
    background-color: transparent;
}

/** Actions **/
.actions{ 
    position:absolute; right:0px;
    height:100%;
    top: 0px; 
}

.action{
    text-align: center;
    display:inline-block;
    height:100%;
    width: 40px; 
    padding:7px;
    font-size:130%; cursor: pointer; 
}

.action.delete {
     color: #d9534f; 
}
.action.delete:hover{   
    background-color:#d9534f; color: white;
}
.action.edit {
     color: #f0ad4e; 
}
.action.edit:hover{  
    background-color: #f0ad4e; color: white;
}
.action.enable{
    color: #00AEED;
}
.action.enable:hover{  
    background-color: #00AEED; color: white;
}

.alert.alert-success{
    text-align: center;
    color: #285b2a;
    background-color: #dbefdc;
    border-color: #cde9ce;
}

.alert.alert-success .btn{
    border: 1px solid #285b2a;
}
