<ul class="nav" *ngIf="MenuItems">

    <li *ngFor="let item of MenuItems">

        <!-- menu item -->
        <a routerLink="{{item.Url}}" routerLinkActive="active" *ngIf="item.Url">
            {{item.Name}}
        </a>

        <!-- sub menu -->
        <a  (click)="item.show = !item.show" class="dropdown-toggle" [ngClass]="{'dropup': item.show}" *ngIf="!item.Url">
            <span>{{item.Name}}</span>
            <span class="caret"></span>
        </a>

        <ol class="nav sub" *ngIf="item.show" (click)="!item.Url">
            <li *ngFor="let subItem of item.MenuItems">
                <!-- menu item -->
                <a routerLink="{{subItem.Url}}" routerLinkActive="active">
                    {{subItem.Name}}
                </a>
            </li>
        </ol>
    </li>
</ul>
