<div class="folder-item">
    <div (click)="toggleOpen()" class="body">

        <div class="handle" *ngIf="!isOpen">
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </div>
        
        <!-- ICON -->
        <i *ngIf="!isOpen" class="fa fa-folder-o" aria-hidden="true"></i>
        <i *ngIf="isOpen" class="fa fa-folder-open-o" aria-hidden="true"></i>

        <!-- View -->
        <span *ngIf="!isEdit" class="title">
            {{item.name}}
        </span>

        <!-- Edit -->
        <span [hidden]="!isEdit" class="title">
                <input [(ngModel)]="newTitle" #inputName>
                <button type="button" class="btn btn-success btn-raised btn-xs" (click)="updateItem()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ></span>&nbsp;
                </button>
        </span>
    </div>
    <div class="actions">
        <div class="action edit" (click)="toggleEdit()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="action enable" (click)="toggleEnabled()">
            <i class="fa fa-eye" *ngIf="item.isEnabled" aria-hidden="true"></i>
            <i class="fa fa-eye-slash" *ngIf="!item.isEnabled" aria-hidden="true"></i>
        </div>
        <div class="action delete" (click)="deleteItem()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
    </div>
</div>

<!-- Children -->
<ul class="sub-menu" [dragula]='"menu-items"' [dragulaModel]='item.menuItems' [dragulaOptions]="getDragOptions()" *ngIf="isOpen">
    <li *ngFor="let item of item.menuItems">
        <wd-page-item [item]="item" (onUpdate)="updateChild($event)"></wd-page-item>
    </li>
</ul>