.beam{
    display: inline-block;
    height: 20px;
    background-color:#2e2e2e;
    color:white;
    min-width: 10px;
    transform-origin: left center;
    -webkit-animation: bounce-scale 0.7s ease-in-out;

}

  @keyframes bounce-scale {
    0%   { transform: scalex(0.01); }
    100% { transform: scalex(1); }
  }

.option{
    line-height: 20px;
}

.option-text{
    color:#2e2e2e;
}

.percentage {
    padding:3px 5px; 
}

.poll{
   
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color:white;
    min-height:100px;
    padding:0px;
}
    

.poll-container{
    overflow: hidden;
    margin:20px;
}

.disclaimer{
    color: #2e2e2e;
    font-style: italic;
}
    

.score{
    display: flex;
}

header{
    padding: 20px;
    margin:10px 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

h2{
    font-size:150%;
    margin: 0px;    
}


