.assignment{
    padding:15px;
    position: relative;
    background-color: white;
}

.assignment h1{
    margin-top:5px;
}

.points{
    width:50px; height:50px;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 50%;
    position: absolute;
    bottom: -26px;
    right: 16px;
}

.assignment.level-Gold{
    border-bottom:2px solid #FFD700;
}

.assignment.level-Gold .points{
     background-color:#FFD700;
}

.assignment.level-Bronze{
    border-bottom:2px solid #cd7F32;
}

.assignment.level-Bronze .points{
    background-color:#cd7F32;
}

.assignment.level-Silver{
    border-bottom:2px solid #C0C0C0;
}

.assignment.level-Silver .points{
    background-color:#C0C0C0;
}


.points span{
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px; 
}

