.assignment{
    padding:15px;
    position: relative;
    background-color: white;
}

.assignment h1{
    margin-top:5px;
}


.assignment.level-Gold{
    border-bottom:2px solid #FFD700;
}

.assignment.level-Gold .points{
    color: white;
    background-color:#FFD700;
}

.assignment.level-Bronze{
    border-bottom:2px solid #cd7F32;
}

.assignment.level-Bronze .points,{
    color: white;
    background-color:#cd7F32;
}

.assignment.level-Silver{
    border-bottom:2px solid #C0C0C0;
}

.assignment.level-Silver .points{
    color: white;
    background-color:#C0C0C0;
}

.tooltip-container .none{
    color:black;
    font-size: 1em;
    background-color:#eee;
    cursor: pointer;
}