<nav class="navbar navbar-default navbar-fixed-top animated fadeInDown">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Webdictaat</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <li><a routerLink="/dictaten" routerLinkActive='active'>Dictaten</a></li>
                <li><a routerLink="/demo"  routerLinkActive='active'>Demo</a></li>
                <li></li>
            </ul>

            <wd-avatar></wd-avatar>
           
          
        </div>
    </div>
</nav>

<div class="main-content animated fadeInDown ">
    <wd-dialog></wd-dialog>
</div>


<router-outlet></router-outlet>

<!--<div class="navbar navbar-info navbar-fixed-bottom">
    <div class="container-fluid text-center">
        <form class="navbar-form">
            <a target="_blank" class="btn btn-default btn-lg btn-block btn-raisedg" href="https://docs.google.com/forms/d/e/1FAIpQLSerzNXmkN_PB610oknjZADz6V2bvaWPf1ugChSsoHvzDnV8-Q/viewform">Feedback? Deel het met ons!</a>
        </form>
    </div>
</div>-->


<!-- modals -->
<wd-add-quiz></wd-add-quiz>
<wd-add-rating></wd-add-rating>
<wd-add-image></wd-add-image>
<wd-add-video></wd-add-video>
<wd-add-assignment></wd-add-assignment>