.question-progress{
    list-style-type: none;
    padding:0px;
}

.question-progress li{
    display: inline-block;
}

h2{
    font-size:150%;
    margin: 0px;    
}

h1 span{
    font-size: 16px;
}

.quiz{
    background-color:white;
}

.quiz .idle{
    padding:20px;
}

.quiz .finished{
    padding:20px;
}


header{
    padding: 20px;
    margin:10px 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

header .tooltip-container{ 
    position: absolute;
    bottom: -26px;
    right: 16px;
    z-index: 101;
    display: flex;
}

header .tooltip-item{
    display: block;
    background-color: #eee;
    width:50px; height:50px;
    box-shadow: 0 3px 1px -2px rgba(48, 21, 21, 0.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 50%;
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
}

.quiz.complete .points {
    color: white;
    background-color: #66BB6A;
}

.score{
    margin:5px;
}

.bs-callout{
    padding:0px;
}

.bs-callout.complete{
    border-left-color: #66BB6A;
}



.started .footer{
    height: 100px;
    width :100%;
    background-color:#eee;
}

/** progress bar **/
.progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    overflow: visible;
}

.progress .point{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid #c8c8c8;
    background-color:white;
}

.progress .point.correct{
    background-color: #66BB6A;
}

.progress .point.wrong{
    background-color: #F44336;
}



