<div class="bs-callout bs-callout-default quiz" [ngClass]="{'complete': quiz ? quiz.isComplete : false}">

  <wd-spinner *ngIf="isLoading"></wd-spinner>

  <div *ngIf="quiz">

    <header>
      <h2>Quiz - {{quiz.assignment.title}}
        <span>({{quiz.questions.length}} questions)</span>
      </h2>
      <div class="tooltip-container">
        <span class="tooltip-item points">
              <span>{{quiz.assignment.points}}</span>
        </span>
      </div>
    </header>

    <div class="body">

      <!-- IDLE -->
      <div *ngIf="quiz.status == 'idle'" class='idle'>
        <p>{{quiz.assignment.description}}</p>

        <button *ngIf="isAuth" (click)="start()" class='btn btn-info btn-raised'>Start</button>
        <button *ngIf="!isAuth" (click)="login()" class='btn btn-info btn-raised'>Login to start Quiz</button>
      </div>

      <!-- STARTED -->
      <div *ngIf="quiz.status == 'started'" class='started'>
        <wd-quiz-question [question]="quiz.current" (onAnswer)="continue()">
        </wd-quiz-question>
      </div>

      <!-- FINISHED -->
      <div *ngIf="quiz.status == 'finished' && !isLoading" class='finished'>
        <p>You got {{quiz.lastAttempt.correctAnswers}} out of {{quiz.questions.length}}!</p>
        <div class="progress line" [ngStyle]="{'width': quiz.lastAttempt.questionsAnswered.length * 50 + 'px'}">
          <div class="point" *ngFor="let q of quiz.lastAttempt.questionsAnswered" [ngClass]="q.isCorrect ? 'correct' : 'wrong'">
            {{isCorrect}}
          </div>
        </div>
        <button (click)="retakeQuiz()" class="btn btn-info btn-sm btn-raised">Retake quiz</button>
      </div>

    </div>
  </div>