.question-progress{
    list-style-type: none;
    padding:0px;
}

.question-progress li{
    display: inline-block;
}

h2{
    font-size:150%;
    margin: 0px;    
}

h1 span{
    font-size: 16px;
}

.quiz{
    overflow: hidden;
    display: flex;
    
}

.quiz .header{
    padding:10px;
}


.score{
    margin:5px;
}

.bs-callout{
    padding:0px;
}

.bs-callout.idle{
    border-left-color: #C6002A;
}
.bs-callout.finished{
    border-left-color: green;
}
.bs-callout.started{
    border-left-color: #00AEED;
}


.body{
    padding:20px;
    background-color:white;
}