<div class="bs-callout bs-callout-default quiz">

  <wd-spinner *ngIf="isLoading"></wd-spinner>

  <div *ngIf="quiz">

    <div class="header">
      <h2>Quiz - {{quiz.title}} 
        <span *ngIf="quiz.status != 'started'">({{quiz.questions.length}} questions)</span>
        <span *ngIf="quiz.status == 'started'">({{quiz.currentIndex + 1}} questions)</span>
      </h2>
    </div>

    <div class="body">

      <!-- IDLE -->
      <div *ngIf="quiz.status == 'idle'" class='idle'>
        <p>{{quiz.description}}</p>

        <button *ngIf="isAuth" (click)="start()" class='btn btn-info btn-raised'>Start</button>
        <button *ngIf="!isAuth" (click)="login()" class='btn btn-info btn-raised'>Login to start Quiz</button>
      </div>

      <!-- STARTED -->
      <div *ngIf="quiz.status == 'started'" class='started'>
        <wd-quiz-question [question]="quiz.current" (onAnswer)="continue()">
        </wd-quiz-question>
      </div>

      <!-- FINISHED -->
      <div *ngIf="quiz.status == 'finished'" class='finished'>
        <p>You got {{CorrectAnswerCount()}} out of {{quiz.questions.length}}!</p>
        <div class="progress line" [ngStyle]="{'width': quiz.questions.length * 50 + 'px'}">
          <div class="point" 
            *ngFor="let q of quiz.questions"
            [ngClass]="q.isCorrect ? 'correct' : 'wrong'">
            
          </div>
        </div>
        <button (click)="retakeQuiz()" class="btn btn-info btn-sm btn-raised">Retake quiz</button>
      </div>

    </div>
  </div>