.page-content-raw{
    min-height: 100vh;
}

a.selected{
    color: #00AEED;
}

.left-menu{
    width:400px;
    position: fixed;
    padding:10px;
    overflow-y:auto;
    max-height: 100hv;
}

.side-menu{
    max-height: 60vh;
    overflow-y: auto;
    margin:20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.breadcrumb{
    border-radius: 0px;
    position: fixed;
    width: 100%;
}

.breadcrumb-placeholder{
    padding-top:30px;
}


.text-editor{
    margin-left: 400px;
}

label.enable
{
    display: block;
}

label.enable input{
    display: inline-block;
    margin-left: 10px;
    width:20px;
}