table {
    text-align: center;

}

table tr td:first-child{
    padding: 5px;
}
table{
    overflow-x: scroll;
    max-width: 100%;
    display:block;
}

.searchbar {
    display: flex;
    align-items: stretch;
    margin-bottom:10px;
    max-width:300px;
}

.searchbar button{
    margin:0px;
}

.searchbar input{
    margin-left: 5px;
    margin-bottom: 0px;
}
.searchbar span{
   margin:5px;
   color:darkgray;
}

.searchbar select{
    width:auto;
    margin-bottom:0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disclaimer{
    color:gray;
    margin:3px;
}

