<button class="btn btn-lg btn-success btn-raised" (click)="showModal = true">
    <span class="glyphicon glyphicon-plus pull-left"></span>&nbsp;Create a new Dictaat
</button>

<div class="modal" *ngIf="showModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new dictaat</h4>
            </div>
            <div class="modal-body">

                
                <div class="form-group">
                    <label for="dictaatName" class="col-md-2 control-label">Name</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" name="dictaatName" id="dictaatName" placeholder="Name of the dictaat"
                        [(ngModel)]="dictaatName" required>
                    </div>
                </div>
            

                <p class="text-info" *ngIf="dictaatName.indexOf(' ') >= 0">
                    De naam van de website mag geen spaties bevatten, en zal uiteindelijk veranderen in <strong>{{trim(dictaatName)}}</strong>
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" (click)="showModal = false">Cancel</button>
                    <button type="button" class="btn btn-success pull-right"
                            (click)="add()"
                            [disabled]="!dictaatName || dictaatName.length < 3">
                        Add
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>