/* You can add global styles to this file, and also import other style files */

.wd-flex{
    display:flex;
}

.wd-flex-1{
    flex:1;
}

.wd-flex-2{
    flex:2;
}

.wd-flex-3{
    flex:3;
}

.wd-flex-4{
    flex:4;
}


.wd-component > .image-local, .wd-component > iframe{
    width:100%;
}

.nav.navbar-nav.dropdown-menu{
    width:auto;
}



.table-hover tr{
    
}

.table td .btn{
    margin-top:0px; margin-bottom:0px;
}

.panel-body.bordered{
    border-bottom:2px solid #00AEED;
}

.elements > tbody > tr > td{
    padding:2px;
}

.fixed{
    position:fixed;
}

/** override rows from bootstrap */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;

}

img{
    max-width: 100%;
}


.maxed{
    max-width:100%;
}

hr{
    background-color:darkgray;
}

.dropdown-toggle{
    cursor: pointer;
}

.dropdown-menu{
    display:block;
    float:none;
}
.dropdown-menu > li > a{
    color:#777 !important;
}

.unhide{
    display: block;
}



.container{
    max-width: 100%;
}


@media (max-width:767px) {

  .side-nav{
     transform: translate(0, 0);
  }

}
