/* You can add global styles to this file, and also import other style files */

.wd-flex{
    display:flex;
}

.wd-flex-1{
    flex:1;
}

.wd-flex-2{
    flex:2;
}

.wd-flex-3{
    flex:3;
}

.wd-flex-4{
    flex:4;
}

.wd-component > .image-local, .wd-component > iframe{
    width:100%;
}

.nav.navbar-nav.dropdown-menu{
    width:auto;
}

.main-content{
    margin-top:60px;
}




.table-hover tr{
    
}

.table td .btn{
    margin-top:0px; margin-bottom:0px;
}

.panel-body.bordered{
    border-bottom:2px solid #00AEED;
}

.elements > tbody > tr > td{
    padding:2px;
}

.fixed{
    position:fixed;
}

/** override rows from bootstrap */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;

}

img{
    max-width: 100%;
}


.maxed{
    max-width:100%;
}

hr{
    background-color:darkgray;
}

.dropdown-toggle{
    cursor: pointer;
}

.dropdown-menu{
    display:block;
    float:none;
}
.dropdown-menu > li > a{
    color:#777 !important;
}

.unhide{
    display: block;
}



.container{
    max-width: 100%;
}

.panel {
    padding-bottom:1px;
}

.panel .wd-editable{
    margin:10px;
}

.wd-content{
    max-width:900px;
}

.wd-jumbotron{
    background-color:white;
    min-height: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.wd-editable{
    padding:5px;
}

.ui-sortable-placeholder {
    border: 1px solid rgb(12,194,170);
    visibility:visible !important;
}

.linenums li {
    list-style-type: decimal;
}


/** TOOLTIP ITEMS **/
.tooltip-container{ 
    position: absolute;
    bottom: -26px;
    right: 16px;
    z-index: 101;
    display: flex;
}

.tooltip-container{ 
    position: absolute;
    bottom: -26px;
    right: 16px;
    z-index: 101;
    display: flex;
}

.tooltip-item .glyphicon {
    font-size: 1.4em;
}

.tooltip-container .tooltip-item{
    display: block;
    background-color: #eee;
    width:50px; height:50px;
    box-shadow: 0 3px 1px -2px rgba(48, 21, 21, 0.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 50%;
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
}

.tooltip-item:hover .tooltip{
    display: block;
}

.tooltip-item .tooltip{
    background-color:#2e2e2e;
    width: 400%;
    position: absolute;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    top:100%;
    left:-150%;
    margin-top:5px;
    display: none;
    color: #00AEED;
}

.tooltip-container  .tooltip-item.success{
    background-color:#5cb85c;
    color: white;
}

.tooltip-container  .tooltip-item.primary{
    color: #00AEED;
    font-size: 1.2em;
}

.tooltip-container  .tooltip-item.edit{
    background-color: #00AEED;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}



/** bigger than 767, so left side menu should be visible **/
@media (min-width:767px) {
    
    .wd-content{
        margin-left:30%;
    }
}

/** bigger than 1200, so left side menu should be max 400px wide**/
@media (min-width:1200px) {

     .wd-content{
        margin-left:400px;
    }
}


@media (max-width:767px) {

  .side-nav{
     transform: translate(0, 0);
     
  }
}
