
<div id="myModal" class="modal fade in" role="dialog" *ngIf="isModalVisible">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add page </h4>
                <div class="close-modal-button" (click)="cancel()">
                    <span  class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body">
  
                <div class="form-group">
                    <label for="page.name">Enter name of the page</label>
                    <input type="text" class="form-control" name="page.name" id="page.name" placeholder="Name of the page"
                           [(ngModel)]="page.name">
                </div>

                <p class="text-info" *ngIf="page.name.indexOf(' ') >= 0">
                    The name of the page can't contain any white spaces, and will be converted into <strong>{{trim(page.name)}}</strong>
                </p>


                <div class="form-group">
                    <label for="menu">Select a sub menu *optional</label>
                    <select class="form-control" name="menu" id="menu" placeholder="Name of the page"
                            [(ngModel)]="menuName" #name="ngModel">
                        <option></option>
                        <option *ngFor="let menu of dictaat.menu.subMenus" value="{{menu.name}}">
                            {{menu.name}}
                        </option> 

                    </select>
                </div>
                
            </div>
            <div class="modal-footer" >
                <button class="btn btn-success"  [disabled]="!page.name || page.name.length < 3" (click)="add()">Save</button>
                <button class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>