<div id="myModal" class="modal fade in" role="dialog" *ngIf="isModalVisible">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Quiz </h4>
                <div class="close-modal-button" (click)="Cancel()">
                    <span  class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" class="form-control" name="quiz.title" id="quiz.title" placeholder="Title of the quiz"
                        [(ngModel)]="quiz.title" required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="quiz.description" id="quiz.description" placeholder="Description of the quiz"
                        [(ngModel)]="quiz.description" required>
                </div>

                <h4>Questions</h4>

                <ul class="questions">
                    <li *ngFor="let q of quiz.questions; let i = index">
                        
                        <input type="text" class="form-control" name="selectedQuestion" id="selectedQuestion" 
                            placeholder="Question Text"
                        [(ngModel)]="q.text" required>

                        <wd-answer-manager [question]="q"></wd-answer-manager>
                    </li>
                </ul>

                <button class="btn btn-raised btn-success btn-xs" (click)="AddQuestion()" >
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="Add()" [disabled]="!quiz.title || !quiz.description">Save</button>
                <button class="btn btn-default" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>


