<div *ngIf="!portal  && user" class="spinner">
    <wd-spinner></wd-spinner> 
  </div>

<div class="portal" *ngIf="portal">
  
    <div class="element">
        <p>You completed <span class="focus">{{portal.completedAssignments}} out of {{portal.assignmentIds.length}}</span> assignments for this course</p>
    </div>
    <div class="gap"></div>
    <div class="element">
        <p>You recieved<span class="focus">{{portal.recievedPoints}} points </span>in this course</p>
    </div>
    <div class="gap"></div>
    <div class="element">
        <span class="glyphicons glyphicons-family"></span>
        <p *ngIf="portal.completedAssignments > 0">
            You are
            <span class="focus" *ngIf="portal.comparedToAverage > 0">{{portal.comparedToAverage |  number : '1.2-2'}}% better</span>
            <span class="focus" *ngIf="portal.comparedToAverage < 0">{{(portal.comparedToAverage * -1) |  number : '1.2-2'}}% behind</span> 
            compared to other participants
        </p>   
        <p *ngIf="portal.completedAssignments === 0">
            Go make <span class="focus">you're first</span> assignment!
        </p>
    </div>
      
</div>

