<div class="portal">
  
    <div *ngIf="!portal" class="spinner">
      <wd-spinner></wd-spinner> 
    </div>
  
   
    <div class="assignments element">
        <span _ngcontent-c6="" aria-hidden="true" class="glyphicons glyphicons-list-alt"></span>

        <span>You completed 5/12 assignments</span>
    </div>
    <div class="progress element">
        <span class="glyphicons glyphicons-stats"></span>
        You complted 12% of this course
    </div>
    <div class="comparison element">
        <span class="glyphicons glyphicons-family"></span>
        <span>You are doing 12% better than average</span>   
    </div>
      
</div>