<div class="panel panel-default navbar-sub">
    <div class="panel-body text-center">
        <h1>Profile</h1>

    </div>
    <div class="progress" [hidden]="dictaten">
        <div class="progress-bar" [style.width]="loaderValue + '%'" style="width: "></div>
    </div>
</div>

<div class="container">

    <div class="dictaten row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center" *ngFor="let  dictaat of dictaten">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{{dictaat.name}}</h2>

                    <p *ngIf="isAuth">
                        <button type="button" class="btn btn-raised btn-info" (click)="gotoDetail(dictaat)">Details</button>
                    </p>

                    <p>
                        <a target="_blank" href="http://webdictaat.azurewebsites.net/dictaten/{{dictaat.name}}">
                            webdictaat.nl/dictaten/{{dictaat.name}}
                        </a>
                    </p>
                </div>

                <div class="panel-footer">
                    <p>
                        Updates N days ago
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>