<div class="alert alert-success centered" role="alert">
  
    <h4 class="alert-heading">More upgrades!</h4>
    <p>There is now a  <b>poll</b> component availble to ask the opinion of you're participants.</p>

    <p>You can only acces this new component from the page editor, next to the <b>quiz</b> component </p>

</div>

<div *ngIf="dictaat" class="panel panel-default sidebar">

    <!-- modals -->
    <wd-add-page [dictaat]="dictaat"></wd-add-page>

    <div class="text-center">
        <button class="btn btn-xs btn-success" (click)="addPage()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Create a new page
        </button>
        <button class="btn btn-xs btn-success" (click)="addMenu()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Create a new sub menu
        </button>
    </div>


    <ul class="menu" [dragula]='"menu-items"' [dragulaModel]='dictaat.menuItems' [dragulaOptions]="getDragOptions()">
        <li *ngFor="let item of dictaat.menuItems">
            <wd-page-item 
                [item]="item" 
                (onUpdate)="updateMenu($event)" 
                (onDelete)="deleteItem($event)"
                *ngIf="item.url && !item.isDeleted"></wd-page-item>
            <wd-folder-item [item]="item" (onUpdate)="updateMenu($event)" *ngIf="!item.url && !item.isDeleted"></wd-folder-item>
        </li>
    </ul>
</div>