<div class="wd-component" *ngIf="achievementgroups">
    <div class="container">
        <div class="buttoncontainer">
            <button class="listbutton" *ngIf="grid" (click)="grid = false">list</button>
            <button class="listbutton" *ngIf="!grid" (click)="grid = true">grid</button>
        </div>
        <div class="achievementscontainer">
            <div *ngIf="grid" class="flex1">
                <div *ngFor="let achievement of getAllAchievements()"  [hidden]="achievement.hidden">
                    <div class="achievement" (mouseover)="achievementinfo(achievement)">
                    <img class="achievementimage" [src]="'../../../src/img/'+achievement.image + '.jpg'" [ngClass]="{'completed':  achievement.completed}"/>
                    <div class="achievementinfo">
                        <p>{{achievement.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!grid">
            <div *ngFor="let group of achievementgroups">
                <div class="listgroup">
                    <h2>{{group.name}}</h2>
                    <div *ngFor="let achievement of group.Achievements">
                        <div *ngIf="achievement.hidden && achievement.completed || !achievement.hidden">

                            <div class="achievement" (mouseover)="achievementinfo(achievement)">
                                <img class="achievementimage" [src]="'../../../src/img/'+achievement.image + '.jpg'" [ngClass]="{'completed':  achievement.completed}"/>
                                <div class="achievementinfo">
                                    <p>{{achievement.name}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>